*.iml
.gradle/
/local.properties
/keystore.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
.kotlin/
*.jks
*.keystore
*-build*.txt
build-errors.txt
compile-out*.txt
fase1-build*.txt
